<div class="topbar">
    Nuevo Cliente
</div>
    
<br>
<br>

<div class="content-form">
    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
    
        <div >
        <p>Nombre</p>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userDetails.name" >

        </div>
        
        <div class="form-group">
        <p>Ubicacion</p>
        <input class="form-control" id="location" name="location" [(ngModel)]="userDetails.location">

        </div>

        <div class="form-group">
        <p>Telefono</p>
        <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="userDetails.phone"  pattern="[0-9]{10}">

        </div>

        <div class="form-group">
        <p>Comentarios</p>
        <input type="text" class="form-control" id="comments" name="comments" [(ngModel)]="userDetails.comments"  min="10" max="80">
        </div>

        <button type="submit" class="btn add">Agregar</button>
    </form>

</div>
